<div class="ct-section-wrapper">
  <section class="single-product">
    <!--PRODUCT SUPPORT SECTION-->
    <div class="ct-section">
      <button class="tablinks active" onclick="openTab(event,'keyfeatures')">Key Features</button>
      <button class="tablinks" onclick="openTab(event,'buildspecs')">Build Specs</button>
      <button class="tablinks" onclick="openTab(event,'geometry')">Geometry & Sizing</button>
      <button class="tablinks" onclick="openTab(event,'warrantee')">Warranty & Registration</button>
      <!-- (commented out after call on 1/16/2019... waiting for actual FAQs to surface)
		<button class="tablinks" onclick="openTab(event,'faqs')">FAQs</button> 
	  -->
      <button class="tablinks-mobile active" onclick="openTabMob(event,'keyfeatures')">Features</button>
      <button class="tablinks-mobile" onclick="openTabMob(event,'buildspecs')">Build</button>
      <button class="tablinks-mobile" onclick="openTabMob(event,'geometry')">Geometry</button>
      <button class="tablinks-mobile" onclick="openTabMob(event,'warrantee')">Warranty</button>

      <!--KEY FEATURES SECTION HTML-->
      <div id="keyfeatures" class="ct-tab-content" style="display:block"><ul class="ct-tab-section long-text"><b>Key Features</b><ul style="padding: 10px 0px 0px 30px"><li>Lightweight, but tough carbon frame construction</li><li>29-inch wheels offer speed, with clearance for up to 2.4” tires</li><li>Confident handling thanks to a 120mm RockShox fork, and modern long and slack trail geometry</li></ul><br><b>Additional Features</b><ul style="padding: 10px 0px 0px 30px"><li>GX1 Eagle offers top-shelf range and performance without the sticker shock</li><li>Rubberized slap guards on chain stay and down tube for added protection</li><li>Mounts for three water bottles</li><li>Comfortable ride courtesy of Fizik saddle and Ergon grips</li><li>Stan’s wheels are the bar for lightweight tubeless setups</li><li>Threaded bottom bracket adds both durability and serviceability</li></ul></div>

      <!--BUILD SPECS SECTION HTML-->
      <div id="buildspecs" class="ct-tab-content">
        <div class="ct-tab-section">
          <div class="ct-table-container-halfwidth" id="build-specs-table-left">
            <table class="ct-table">
              <tr>
                <th class="ct-table-header-first">SPEC</th>
                <th class="ct-table-header">DETAIL</th>
              </tr>
              <tr><td class="ct-table-data">FRAME</td><td class="ct-table-data">VIATHON M1 MOUNTAIN FRAME</td></tr>
              <tr><td class="ct-table-data">FORK</td><td class="ct-table-data">ROCKSHOX REBA RL, 120MM TRAVEL, 51MM OFFSET</td></tr>
              <tr><td class="ct-table-data">HEADSET</td><td class="ct-table-data">FSA</td></tr>
              <tr><td class="ct-table-data">REAR DERAILLEUR</td><td class="ct-table-data">SRAM GX EAGLE</td></tr>
              <tr><td class="ct-table-data">SHIFT LEVER</td><td class="ct-table-data">SRAM GX EAGLE TRIGGER SHIFTER</td></tr>
              <tr><td class="ct-table-data">BRAKES</td><td class="ct-table-data">SRAM LEVEL TL</td></tr>
              <tr><td class="ct-table-data">BRAKE ROTOR</td><td class="ct-table-data">SRAM CENTERLINE, 6-BOLT, 160MM ROUNDED</td></tr>
              <tr><td class="ct-table-data">BOTTOM BRACKET</td><td class="ct-table-data">SRAM DUB BSA MTB73</td></tr>
              <tr><td class="ct-table-data">CRANKSET</td><td class="ct-table-data">SRAM GX EAGLE DUB, 32T</td></tr>
              <tr><td class="ct-table-data">CASSETTE</td><td class="ct-table-data">SRAM XG-1275 EAGLE, 10-50T</td></tr>
            </table>
          </div>
          <div class="ct-table-container-halfwidth" id="build-specs-table-right">
            <table class="ct-table">
              <tr>
                <th class="ct-table-header-first">SPEC</th>
                <th class="ct-table-header">DETAIL</th>
              </tr>
              <tr><td class="ct-table-data">CHAIN</td><td class="ct-table-data">SRAM GX EAGLE, 12-SPEED</td></tr>
              <tr><td class="ct-table-data">REAR AXLE</td><td class="ct-table-data">SHIMANO E-THRU AXLE, 148X12MM</td></tr>
              <tr><td class="ct-table-data">WHEEL SET</td><td class="ct-table-data">STAN'S NO TUBES ARCH S1 TEAM 29, 6-BOLT DISC, XD</td></tr>
              <tr><td class="ct-table-data">TIRES</td><td class="ct-table-data">CONTINENTAL X-KING, 29 X 2.3 FRONT, 29 X 2.2 REAR, FOLDING, PROTECTION + BLACK CHILI</td></tr>
              <tr><td class="ct-table-data">INNER TUBES</td><td class="ct-table-data">KENDA 29 X 2.2/2.4</td></tr>
              <tr><td class="ct-table-data">HANDLE BAR</td><td class="ct-table-data">FSA AFTERBURNER, 740MM, 0MM, 31.8MM</td></tr>
              <tr><td class="ct-table-data">GRIPS</td><td class="ct-table-data">ERGON GA20 BLACK, ROUND</td></tr>
              <tr><td class="ct-table-data">STEM</td><td class="ct-table-data">FSA AFTERBURNER, 31.8MM, ±6°</td></tr>
              <tr><td class="ct-table-data">SEAT POST</td><td class="ct-table-data">FSA AFTERBURNER, 30.9MM, 400MM, 0 OFFSET</td></tr>
              <tr><td class="ct-table-data">SADDLE</td><td class="ct-table-data">FIZIK TUNDRA M5</td></tr>
            </table>
          </div>
          <div class="build-specs-mobile">
            <div class="ct-table-container-fullwidth">
            <table class="ct-table">
              <tr>
                <th class="ct-table-header-first">SPEC</th>
                <th class="ct-table-header">DETAIL</th>
              </tr>
              <tr><td class="ct-table-data">FRAME</td><td class="ct-table-data">VIATHON M1 MOUNTAIN FRAME</td></tr>
              <tr><td class="ct-table-data">FORK</td><td class="ct-table-data">ROCKSHOX REBA RL, 120MM TRAVEL, 51MM OFFSET</td></tr>
              <tr><td class="ct-table-data">HEADSET</td><td class="ct-table-data">FSA</td></tr>
              <tr><td class="ct-table-data">REAR DERAILLEUR</td><td class="ct-table-data">SRAM GX EAGLE</td></tr>
              <tr><td class="ct-table-data">SHIFT LEVER</td><td class="ct-table-data">SRAM GX EAGLE TRIGGER SHIFTER</td></tr>
              <tr><td class="ct-table-data">BRAKES</td><td class="ct-table-data">SRAM LEVEL TL</td></tr>
              <tr><td class="ct-table-data">BRAKE ROTOR</td><td class="ct-table-data">SRAM CENTERLINE, 6-BOLT, 160MM ROUNDED</td></tr>
              <tr><td class="ct-table-data">BOTTOM BRACKET</td><td class="ct-table-data">SRAM DUB BSA MTB73</td></tr>
              <tr><td class="ct-table-data">CRANKSET</td><td class="ct-table-data">SRAM GX EAGLE DUB, 32T</td></tr>
              <tr><td class="ct-table-data">CASSETTE</td><td class="ct-table-data">SRAM XG-1275 EAGLE, 10-50T</td></tr>
              <tr><td class="ct-table-data">CHAIN</td><td class="ct-table-data">SRAM GX EAGLE, 12-SPEED</td></tr>
              <tr><td class="ct-table-data">REAR AXLE</td><td class="ct-table-data">SHIMANO E-THRU AXLE, 148X12MM</td></tr>
              <tr><td class="ct-table-data">WHEEL SET</td><td class="ct-table-data">STAN'S NO TUBES ARCH S1 TEAM 29, 6-BOLT DISC, XD</td></tr>
              <tr><td class="ct-table-data">TIRES</td><td class="ct-table-data">CONTINENTAL X-KING, 29 X 2.3 FRONT, 29 X 2.2 REAR, FOLDING, PROTECTION + BLACK CHILI</td></tr>
              <tr><td class="ct-table-data">INNER TUBES</td><td class="ct-table-data">KENDA 29 X 2.2/2.4</td></tr>
              <tr><td class="ct-table-data">HANDLE BAR</td><td class="ct-table-data">FSA AFTERBURNER, 740MM, 0MM, 31.8MM</td></tr>
              <tr><td class="ct-table-data">GRIPS</td><td class="ct-table-data">ERGON GA20 BLACK, ROUND</td></tr>
              <tr><td class="ct-table-data">STEM</td><td class="ct-table-data">FSA AFTERBURNER, 31.8MM, ±6°</td></tr>
              <tr><td class="ct-table-data">SEAT POST</td><td class="ct-table-data">FSA AFTERBURNER, 30.9MM, 400MM, 0 OFFSET</td></tr>
              <tr><td class="ct-table-data">SADDLE</td><td class="ct-table-data">FIZIK TUNDRA M5</td></tr>
            </table>
          </div>
          </div>
        </div>
      </div>

      <!--GEOMETRY SECTION HTML-->
            <div id="geometry" class="ct-tab-content">
        <div class="ct-tab-section geometry">
          <div class="ct-button-container geom-button">
	          <button id="show-chart" onclick="displayGeom(event, 'mobile-chart','hide-chart', 'show-chart')">Show Informative Chart</button>
    	      <button id="hide-chart" onclick="hideGeom(event, 'mobile-chart','hide-chart', 'show-chart')" style="display:none;">Hide Informative Chart</button>
          </div>
          <div class="ct-table-img small-screen" id="mobile-chart" style="display:none">
            <img class="ct-fullwidth-img" src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/750_Geometry_M1.png?18342578893410879698">
          </div>
          <div class="ct-table-container geom-specs">
            <span>Show: <button id="show-cm" onclick="displayCm(event, 'cm-chart', 'in-chart', 'show-cm', 'show-in')" style="border-bottom: 2px solid #255f1d;">CM</button> | <button id="show-in" onclick="displayIn(event, 'cm-chart', 'in-chart', 'show-cm', 'show-in')">IN</button></span>
              
            <table class="ct-table" id="cm-chart">
              <tr><th class="ct-table-header-first ct-first-col">Frame Size</th><th class="ct-table-header">57.4</th><th class="ct-table-header">60</th><th class="ct-table-header">62.5</th></tr>
              <tr id="ct-row-a" onmouseover="surface('ct-m-a', 'ct-m-all', 'geom-icon-a', 'ct-row-a')" onmouseout="hide('ct-m-a', 'ct-m-all', 'ct-row-a', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-a">A</span> Stack</td><td class="ct-table-data">62.1</td><td class="ct-table-data">62.1</td><td class="ct-table-data">63</td></tr>
              <tr id="ct-row-b" onmouseover="surface('ct-m-b', 'ct-m-all', 'geom-icon-b', 'ct-row-b')" onmouseout="hide('ct-m-b', 'ct-m-all', 'ct-row-b', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-b">B</span> Reach</td><td class="ct-table-data">39.1</td><td class="ct-table-data">41.7</td><td class="ct-table-data">43.95</td></tr>
              <tr id="ct-row-c" onmouseover="surface('ct-m-c', 'ct-m-all', 'geom-icon-c', 'ct-row-c')" onmouseout="hide('ct-m-c', 'ct-m-all', 'ct-row-c', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-c">C</span> HT</td><td class="ct-table-data">9</td><td class="ct-table-data">9</td><td class="ct-table-data">10</td></tr>
              <tr id="ct-row-d" onmouseover="surface('ct-m-d', 'ct-m-all', 'geom-icon-d', 'ct-row-d')" onmouseout="hide('ct-m-d', 'ct-m-all', 'ct-row-d', 'odd')"><td class="ct-table-data ct-first-col"><span class="geom-table-icon" id="geom-icon-d">D</span> Rear Center</td><td class="ct-table-data" colspan="5">44</td></tr>
              <tr id="ct-row-e" onmouseover="surface('ct-m-e', 'ct-m-all', 'geom-icon-e', 'ct-row-e')" onmouseout="hide('ct-m-e', 'ct-m-all', 'ct-row-e', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-e">E</span> Front Center</td><td class="ct-table-data">65.9</td><td class="ct-table-data">68.5</td><td class="ct-table-data">71.1</td></tr>
              <tr id="ct-row-f" onmouseover="surface('ct-m-f', 'ct-m-all', 'geom-icon-f', 'ct-row-f')" onmouseout="hide('ct-m-f', 'ct-m-all', 'ct-row-f', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-f">F</span> Wheelbase</td><td class="ct-table-data">109.3</td><td class="ct-table-data">111.9</td><td class="ct-table-data">114.5</td></tr>
              <tr id="ct-row-g" onmouseover="surface('ct-m-g', 'ct-m-all', 'geom-icon-g', 'ct-row-g')" onmouseout="hide('ct-m-g', 'ct-m-all', 'ct-row-g', 'even')"><td class="ct-table-data ct-first-col"><span class="geom-table-icon" id="geom-icon-g">G</span> BB drop</td><td class="ct-table-data" colspan="5">5.6</td></tr>
              <tr id="ct-row-h" onmouseover="surface('ct-m-h', 'ct-m-all', 'geom-icon-h', 'ct-row-h')" onmouseout="hide('ct-m-h', 'ct-m-all', 'ct-row-h', 'odd')"><td class="ct-table-data ct-first-col"><span class="geom-table-icon" id="geom-icon-h">H</span> ST angle</td><td class="ct-table-data" colspan="5">73.6°</td></tr>
              <tr id="ct-row-i" onmouseover="surface('ct-m-i', 'ct-m-all', 'geom-icon-i', 'ct-row-i')" onmouseout="hide('ct-m-i', 'ct-m-all', 'ct-row-i', 'even')"><td class="ct-table-data ct-first-col"><span class="geom-table-icon" id="geom-icon-i">I</span> HT angle</td><td class="ct-table-data" colspan="5">69.5°</td></tr>
              <tr id="ct-row-j" onmouseover="surface('ct-m-j', 'ct-m-all', 'geom-icon-j', 'ct-row-j')" onmouseout="hide('ct-m-j', 'ct-m-all', 'ct-row-j', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-j">J</span> TT (effective)</td><td class="ct-table-data">57.4</td><td class="ct-table-data">60</td><td class="ct-table-data">62.5</td></tr>
              <tr id="ct-row-k" onmouseover="surface('ct-m-k', 'ct-m-all', 'geom-icon-k', 'ct-row-k')" onmouseout="hide('ct-m-k', 'ct-m-all', 'ct-row-k', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-k">K</span> ST (effective)</td><td class="ct-table-data">64.7</td><td class="ct-table-data">64.7</td><td class="ct-table-data">65.7</td></tr>
              <tr><td class="ct-table-data  ct-first-col">ST (physical)</td><td class="ct-table-data">40.6</td><td class="ct-table-data">43.2</td><td class="ct-table-data">47.6</td></tr>
              <tr><td class="ct-table-data ct-first-col">Wheel size</td><td class="ct-table-data" colspan="5">29”</td></tr>
              <tr><td class="ct-table-data ct-first-col">Fork length</td><td class="ct-table-data" colspan="5">53.1</td></tr>
              <tr><td class="ct-table-data ct-first-col">Fork Offset</td><td class="ct-table-data" colspan="5">5.1</td></tr>
              <tr><td class="ct-table-data  ct-first-col">Trail</td><td class="ct-table-data">8.61</td><td class="ct-table-data">8.61</td><td class="ct-table-data">8.61</td></tr>
              
            </table>
              
            <table class="ct-table" id="in-chart" style="display:none;">
              <tr><th class="ct-table-header-first ct-first-col">Frame Size</th><th class="ct-table-header">Small</th><th class="ct-table-header">Med</th><th class="ct-table-header">Large</th></tr>
              <tr id="ct-row-a-in" onmouseover="surface('ct-m-a', 'ct-m-all', 'geom-icon-a', 'ct-row-a-in')" onmouseout="hide('ct-m-a', 'ct-m-all', 'ct-row-a-in', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-a">A</span> Stack</td><td class="ct-table-data">24.4</td><td class="ct-table-data">24.4</td><td class="ct-table-data">24.8</td></tr>
              <tr id="ct-row-b-in" onmouseover="surface('ct-m-b', 'ct-m-all', 'geom-icon-b', 'ct-row-b-in')" onmouseout="hide('ct-m-b', 'ct-m-all', 'ct-row-b-in', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-b">B</span> Reach</td><td class="ct-table-data">15.3</td><td class="ct-table-data">16.4</td><td class="ct-table-data">17.3</td></tr>
              <tr id="ct-row-c-in" onmouseover="surface('ct-m-c', 'ct-m-all', 'geom-icon-c', 'ct-row-c-in')" onmouseout="hide('ct-m-c', 'ct-m-all', 'ct-row-c-in', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-c">C</span> HT</td><td class="ct-table-data">3.5</td><td class="ct-table-data">3.5</td><td class="ct-table-data">3.9</td></tr>
              <tr id="ct-row-d-in" onmouseover="surface('ct-m-d', 'ct-m-all', 'geom-icon-d', 'ct-row-d-in')" onmouseout="hide('ct-m-d', 'ct-m-all', 'ct-row-d-in', 'odd')"><td class="ct-table-data ct-first-col"><span class="geom-table-icon" id="geom-icon-d">D</span> Rear Center</td><td class="ct-table-data" colspan="5">17.3</td></tr>
              <tr id="ct-row-e-in" onmouseover="surface('ct-m-e', 'ct-m-all', 'geom-icon-e', 'ct-row-e-in')" onmouseout="hide('ct-m-e', 'ct-m-all', 'ct-row-e-in', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-e">E</span> Front Center</td><td class="ct-table-data">25.9</td><td class="ct-table-data">26.9</td><td class="ct-table-data">27.9</td></tr>
              <tr id="ct-row-f-in" onmouseover="surface('ct-m-f', 'ct-m-all', 'geom-icon-f', 'ct-row-f-in')" onmouseout="hide('ct-m-f', 'ct-m-all', 'ct-row-f-in', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-f">F</span> Wheelbase</td><td class="ct-table-data">43</td><td class="ct-table-data">44</td><td class="ct-table-data">45</td></tr>
              <tr id="ct-row-g-in" onmouseover="surface('ct-m-g', 'ct-m-all', 'geom-icon-g', 'ct-row-g-in')" onmouseout="hide('ct-m-g', 'ct-m-all', 'ct-row-g-in', 'even')"><td class="ct-table-data ct-first-col"><span class="geom-table-icon" id="geom-icon-g">G</span> BB drop</td><td class="ct-table-data" colspan="5">2.2</td></tr>
              <tr id="ct-row-h-in" onmouseover="surface('ct-m-h', 'ct-m-all', 'geom-icon-h', 'ct-row-h-in')" onmouseout="hide('ct-m-h', 'ct-m-all', 'ct-row-h-in', 'odd')"><td class="ct-table-data ct-first-col"><span class="geom-table-icon" id="geom-icon-h">H</span> ST angle</td><td class="ct-table-data" colspan="5">73.6°</td></tr>
              <tr id="ct-row-i-in" onmouseover="surface('ct-m-i', 'ct-m-all', 'geom-icon-i', 'ct-row-i-in')" onmouseout="hide('ct-m-i', 'ct-m-all', 'ct-row-i-in', 'even')"><td class="ct-table-data ct-first-col"><span class="geom-table-icon" id="geom-icon-i">I</span> HT angle</td><td class="ct-table-data" colspan="5">69.5°</td></tr>
              <tr id="ct-row-j-in" onmouseover="surface('ct-m-j', 'ct-m-all', 'geom-icon-j', 'ct-row-j-in')" onmouseout="hide('ct-m-j', 'ct-m-all', 'ct-row-j-in', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-j">J</span> TT (effective)</td><td class="ct-table-data">22.5</td><td class="ct-table-data">23.6</td><td class="ct-table-data">24.6</td></tr>
              <tr id="ct-row-k-in" onmouseover="surface('ct-m-k', 'ct-m-all', 'geom-icon-k', 'ct-row-k-in')" onmouseout="hide('ct-m-k', 'ct-m-all', 'ct-row-k-in', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-k">K</span> ST (effective)</td><td class="ct-table-data">25.4</td><td class="ct-table-data">25.4</td><td class="ct-table-data">25.8</td></tr>
              <tr><td class="ct-table-data  ct-first-col">ST (physical)</td><td class="ct-table-data">15.9</td><td class="ct-table-data">17</td><td class="ct-table-data">18.7</td></tr>
              <tr><td class="ct-table-data ct-first-col">Wheel size</td><td class="ct-table-data" colspan="5">29”</td></tr>
              <tr><td class="ct-table-data ct-first-col">Fork length</td><td class="ct-table-data" colspan="5">20.9</td></tr>
              <tr><td class="ct-table-data ct-first-col">Fork Offset</td><td class="ct-table-data" colspan="5">2</td></tr>
              <tr><td class="ct-table-data  ct-first-col">Trail</td><td class="ct-table-data">3.3</td><td class="ct-table-data">3.3</td><td class="ct-table-data">3.3</td></tr>
            </table>
              
          </div>
            <div class="ct-img-float-container">
              <div class="ct-table-img big-screen">
                <span class="ct-geo-img-container-full" id="ct-m-all"><img class="ct-fullwidth-img" src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/750_Geometry_M1.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-g-grey"><img class="ct-fullwidth-img" src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/750_Geometry_M1Gray.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-a"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_A.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-b"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_B.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-c"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_C.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-d"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_D.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-e"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_E.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-f"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_F.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-g"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_G.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-h"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_H.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-i"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_I.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-j"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_J.png?18342578893410879698"></span>
                <span class="ct-geo-img-container" id="ct-m-k"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_M1_K.png?18342578893410879698"></span>
              </div>
            </div>
        </div>
      </div>

      <!--FAQS SECTION HTML (commented out after call on 1/16/2019... waiting for actual FAQs to surface)
      <div id="faqs" class="ct-tab-content">
        <div class="ct-tab-section long-text">
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
        </div>
       </div>
      -->

      <!--WARRANTY SECTION HTML-->
      <div id="warrantee" class="ct-tab-content">
        <div class="ct-tab-section long-text">
          <p><b>Lifetime Frame Warranty</b></p>
          <p>Viathon Bicycles will repair or replace at its option any frame it determines to be defective. The warranty will be in effect for lifetime of the original, registered owner. In order to confirm that you are the original owner, please register using our bike registration form at the time of purchase.</p>
          <p><b>How to find your serial number</b></p>
          <p>Frames purchased prior to May 1, 2015 will be covered under the previously existing 5 year warranty. Warranties do not cover custom finishes. </p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">Register your Viathon Bicycle</a></li>
            <li><a href="">Register your Juliana Bicycle</a></li>
          </ul>
          <br>
          <p><b>Lifetime Bearing Warranty</b></p>
          <p>Viathon Bicycles pivot bearings are warranted for life to the original owner of the bike.</p>
          <p>The return process is simple: complete the Bearing Replacement Form, upload a copy of your purchase receipt, and we'll get a new set of bearings out to you within 48 hours! </p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">Make a claim for replacement bearings</a></li>
          </ul><br>
          <p><b>Reserve Carbon Wheels</b></p>
          <p>Viathon Reserve carbon wheels carry a warranty for the lifetime of the original, registered owner. </p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">Register your Reserve Carbon Wheels</a></li>
          </ul><br>
          <p><b>No-Fault Replacement</b></p>
          <p>Viathon Bicycles will make replacement frame parts available to the original owner at a minimal charge in the event of a crash or other non-warranty situation for the life of the bike.</p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">Make a Warranty Claim or No-Fault Replacement Claim</a></li>
          </ul><br>
          <p>Something not right? Use one of the forms below to file a claim. We'll do everything we can to get you back to riding as fast as possible. </p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">File a claim for a bike or a frame</a></li>
            <li><a href="">File a claim for Reserve Carbon Wheels</a></li>
          </ul><br>
          <p><b>Carbon Handlebars</b></p>
          <p>Viathon carbon handlebars are warrantied for a period of five years from the date of purchase. </p>
        </div>
       </div>
    </div>  
  </section>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}



