<div class="ct-section-wrapper">
  <section class="single-product">
    <!--PRODUCT SUPPORT SECTION-->
    <div class="ct-section">
      <button class="tablinks active" onclick="openTab(event,'keyfeatures')">Key Features</button>
      <button class="tablinks" onclick="openTab(event,'buildspecs')">Build Specs</button>
      <button class="tablinks" onclick="openTab(event,'geometry')">Geometry & Sizing</button>
      <button class="tablinks" onclick="openTab(event,'warrantee')">Warranty & Registration</button>
      <!-- (commented out after call on 1/16/2019... waiting for actual FAQs to surface)
		<button class="tablinks" onclick="openTab(event,'faqs')">FAQs</button> 
	  -->
      <button class="tablinks-mobile active" onclick="openTabMob(event,'keyfeatures')">Features</button>
      <button class="tablinks-mobile" onclick="openTabMob(event,'buildspecs')">Build</button>
      <button class="tablinks-mobile" onclick="openTabMob(event,'geometry')">Geometry</button>
      <button class="tablinks-mobile" onclick="openTabMob(event,'warrantee')">Warranty</button>

      <!--KEY FEATURES SECTION HTML-->
      <div id="keyfeatures" class="ct-tab-content" style="display:block"><ul class="ct-tab-section long-text"><b>Key Features</b><ul style="padding: 10px 0px 0px 30px"><li>795-gram size 56 frame, among the world's lightest</li><li>Oversize tapered head tube and bottom bracket for precise handling and pedaling efficiency</li><li>Pro-level performance at a fraction of the cost</li></ul><br><b>Additional Features</b><ul style="padding: 10px 0px 0px 30px"><li>Shimano 105 components deliver affordable refinement</li><li>Knight alloy wheels deliver speed and durability</li><li>Internal cable routings reduce aerodynamic drag</li><li>Zipp Service Course alloy bar and stem offer precision and strength</li><li>Clearance for 28mm tires</li></ul></div>

      <!--BUILD SPECS SECTION HTML-->
      <div id="buildspecs" class="ct-tab-content">
        <div class="ct-tab-section">
          <div class="ct-table-container-halfwidth" id="build-specs-table-left">
            <table class="ct-table">
              <tr>
                <th class="ct-table-header-first">SPEC</th>
                <th class="ct-table-header">DETAIL</th>
              </tr>
              <tr><td class="ct-table-data">FRAME</td><td class="ct-table-data">VIATHON R1 ROAD FRAME</td></tr>
              <tr><td class="ct-table-data">FORK</td><td class="ct-table-data">VIATHON R1 ROAD FORK</td></tr>
              <tr><td class="ct-table-data">HEADSET</td><td class="ct-table-data">FSA</td></tr>
              <tr><td class="ct-table-data">REAR DERAILLEUR</td><td class="ct-table-data">SHIMANO 105 RD-R7000 11-SPEED, TOP NORMAL SHADOW</td></tr>
              <tr><td class="ct-table-data">FRONT DERAILLEUR</td><td class="ct-table-data">SHIMANO 105 FD-R7000 DOWN-SWING, BRAZED-ON TYPE</td></tr>
              <tr><td class="ct-table-data">SHIFT/BRAKE LEVERS</td><td class="ct-table-data">SHIMANO 105 ST-R7020 DISC BRAKE</td></tr>
              <tr><td class="ct-table-data">ROTOR</td><td class="ct-table-data">SHIMANO SM-RT70, 160MM W/LOCK RING, BULK</td></tr>
              <tr><td class="ct-table-data">BOTTOM BRACKET</td><td class="ct-table-data">ROTOR PRESS FIT 30TO24 CONVERTER</td></tr>
              <tr><td class="ct-table-data">CRANKSET</td><td class="ct-table-data">SHIMANO 105  FC-R7000, HOLLOWTECH 2, 50-34T</td></tr>
              <tr><td class="ct-table-data">CASSETTE</td><td class="ct-table-data">SHIMANO 105 CS-R7000, 11-SPEED, 11-28T</td></tr>
              <tr><td class="ct-table-data">CHAIN</td><td class="ct-table-data">SHIMANO CN-HG601-11, 11-SPEED</td></tr>
            </table>
          </div>
          <div class="ct-table-container-halfwidth" id="build-specs-table-right">
            <table class="ct-table">
              <tr>
                <th class="ct-table-header-first">SPEC</th>
                <th class="ct-table-header">DETAIL</th>
              </tr>
              <tr><td class="ct-table-data">FRONT AXLE</td><td class="ct-table-data">SHIMANO E-THRU AXLE, 100X12MM</td></tr>
              <tr><td class="ct-table-data">REAR AXLE</td><td class="ct-table-data">SHIMANO E-THRU AXLE, 142X12MM</td></tr>
              <tr><td class="ct-table-data">WHEELS</td><td class="ct-table-data">KNIGHT ALLOY 25 DISC CLINCHER - IW 19.5MM, EW 27.5MM, DEPTH 25MM, CENTER LOCK DISC HUB</td></tr>
              <tr><td class="ct-table-data">TIRES</td><td class="ct-table-data">CONTINENTAL ULTRA SPORT II, 700 X 25, FOLDING BLACK</td></tr>
              <tr><td class="ct-table-data">INNER TUBES</td><td class="ct-table-data">KENDA 23/25C</td></tr>
              <tr><td class="ct-table-data">HANDLE BAR</td><td class="ct-table-data">ZIPP SERVICE COURSE 70 ERGO</td></tr>
              <tr><td class="ct-table-data">BAR TAPE</td><td class="ct-table-data">FIZIK WHITE</td></tr>
              <tr><td class="ct-table-data">STEM</td><td class="ct-table-data">ZIPP SERVICE COURSE, 31.8MM, 6°, 110MM</td></tr>
              <tr><td class="ct-table-data">SEAT POST</td><td class="ct-table-data">ZIPP SERVICE COURSE, 20MM OFFSET, 27.2MM, 350MM</td></tr>
              <tr><td class="ct-table-data">SADDLE</td><td class="ct-table-data">FIZIK ANTARES R5</td></tr>
            </table>
          </div>
          <div class="build-specs-mobile">
            <div class="ct-table-container-fullwidth">
            <table class="ct-table">
              <tr>
                <th class="ct-table-header-first">SPEC</th>
                <th class="ct-table-header">DETAIL</th>
              </tr>
              <tr><td class="ct-table-data">FRAME</td><td class="ct-table-data">VIATHON R1 ROAD FRAME</td></tr>
              <tr><td class="ct-table-data">FORK</td><td class="ct-table-data">VIATHON R1 ROAD FORK</td></tr>
              <tr><td class="ct-table-data">HEADSET</td><td class="ct-table-data">FSA</td></tr>
              <tr><td class="ct-table-data">REAR DERAILLEUR</td><td class="ct-table-data">SHIMANO 105 RD-R7000 11-SPEED, TOP NORMAL SHADOW</td></tr>
              <tr><td class="ct-table-data">FRONT DERAILLEUR</td><td class="ct-table-data">SHIMANO 105 FD-R7000 DOWN-SWING, BRAZED-ON TYPE</td></tr>
              <tr><td class="ct-table-data">SHIFT/BRAKE LEVERS</td><td class="ct-table-data">SHIMANO 105 ST-R7020 DISC BRAKE</td></tr>
              <tr><td class="ct-table-data">ROTOR</td><td class="ct-table-data">SHIMANO SM-RT70, 160MM W/LOCK RING, BULK</td></tr>
              <tr><td class="ct-table-data">BOTTOM BRACKET</td><td class="ct-table-data">ROTOR PRESS FIT 30TO24 CONVERTER</td></tr>
              <tr><td class="ct-table-data">CRANKSET</td><td class="ct-table-data">SHIMANO 105  FC-R7000, HOLLOWTECH 2, 50-34T</td></tr>
              <tr><td class="ct-table-data">CASSETTE</td><td class="ct-table-data">SHIMANO 105 CS-R7000, 11-SPEED, 11-28T</td></tr>
              <tr><td class="ct-table-data">CHAIN</td><td class="ct-table-data">SHIMANO CN-HG601-11, 11-SPEED</td></tr>
              <tr><td class="ct-table-data">FRONT AXLE</td><td class="ct-table-data">SHIMANO E-THRU AXLE, 100X12MM</td></tr>
              <tr><td class="ct-table-data">REAR AXLE</td><td class="ct-table-data">SHIMANO E-THRU AXLE, 142X12MM</td></tr>
              <tr><td class="ct-table-data">WHEELS</td><td class="ct-table-data">KNIGHT ALLOY 25 DISC CLINCHER - IW 19.5MM, EW 27.5MM, DEPTH 25MM, CENTER LOCK DISC HUB</td></tr>
              <tr><td class="ct-table-data">TIRES</td><td class="ct-table-data">CONTINENTAL ULTRA SPORT II, 700 X 25, FOLDING BLACK</td></tr>
              <tr><td class="ct-table-data">INNER TUBES</td><td class="ct-table-data">KENDA 23/25C</td></tr>
              <tr><td class="ct-table-data">HANDLE BAR</td><td class="ct-table-data">ZIPP SERVICE COURSE 70 ERGO</td></tr>
              <tr><td class="ct-table-data">BAR TAPE</td><td class="ct-table-data">FIZIK WHITE</td></tr>
              <tr><td class="ct-table-data">STEM</td><td class="ct-table-data">ZIPP SERVICE COURSE, 31.8MM, 6°, 110MM</td></tr>
              <tr><td class="ct-table-data">SEAT POST</td><td class="ct-table-data">ZIPP SERVICE COURSE, 20MM OFFSET, 27.2MM, 350MM</td></tr>
              <tr><td class="ct-table-data">SADDLE</td><td class="ct-table-data">FIZIK ANTARES R5</td></tr>
            </table>
          </div>
          </div>
        </div>
      </div>

      <!--GEOMETRY SECTION HTML-->
      <div id="geometry" class="ct-tab-content">
        <div class="ct-tab-section geometry">
          <div class="ct-button-container geom-button">
	          <button id="show-chart" onclick="displayGeom(event, 'mobile-chart','hide-chart', 'show-chart')">Show Informative Chart</button>
    	      <button id="hide-chart" onclick="hideGeom(event, 'mobile-chart','hide-chart', 'show-chart')" style="display:none;">Hide Informative Chart</button>
          </div>
          <div class="ct-table-img small-screen" id="mobile-chart" style="display:none">
            <img class="ct-fullwidth-img" src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/750_Geometry_R1.png?18342578893410879698">
          </div>
          <div class="ct-table-container geom-specs">
            <table class="ct-table">
              <tr><th class="ct-table-header-first ct-first-col">Frame Size</th><th class="ct-table-header">520</th><th class="ct-table-header">540</th><th class="ct-table-header">560</th><th class="ct-table-header">575</th><th class="ct-table-header">590</th></tr>
              <tr id="ct-row-a" onmouseover="surface('ct-r-a', 'ct-r-all', 'geom-icon-a', 'ct-row-a')" onmouseout="hide('ct-r-a', 'ct-r-all', 'ct-row-a', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-a">A</span> Stack</td><td class="ct-table-data">527</td><td class="ct-table-data">550</td><td class="ct-table-data">569</td><td class="ct-table-data">584</td><td class="ct-table-data">612</td></tr>
              <tr id="ct-row-b" onmouseover="surface('ct-r-b', 'ct-r-all', 'geom-icon-b', 'ct-row-b')" onmouseout="hide('ct-r-b', 'ct-r-all', 'ct-row-b', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-b">B</span> Reach</td><td class="ct-table-data">380</td><td class="ct-table-data">386</td><td class="ct-table-data">391</td><td class="ct-table-data">397</td><td class="ct-table-data">408</td></tr>
              <tr id="ct-row-c" onmouseover="surface('ct-r-c', 'ct-r-all', 'geom-icon-c', 'ct-row-c')" onmouseout="hide('ct-r-c', 'ct-r-all', 'ct-row-c', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-c">C</span> HT</td><td class="ct-table-data">124</td><td class="ct-table-data">146</td><td class="ct-table-data">164</td><td class="ct-table-data">178</td><td class="ct-table-data">211</td></tr>
              <tr id="ct-row-d" onmouseover="surface('ct-r-d', 'ct-r-all', 'geom-icon-d', 'ct-row-d')" onmouseout="hide('ct-r-d', 'ct-r-all', 'ct-row-d', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-d">D</span> Rear Center</td><td class="ct-table-data">406</td><td class="ct-table-data">406</td><td class="ct-table-data">408</td><td class="ct-table-data">408</td><td class="ct-table-data">408</td></tr>
              <tr id="ct-row-e" onmouseover="surface('ct-r-e', 'ct-r-all', 'geom-icon-e', 'ct-row-e')" onmouseout="hide('ct-r-e', 'ct-r-all', 'ct-row-e', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-e">E</span> Front Center</td><td class="ct-table-data">578</td><td class="ct-table-data">583</td><td class="ct-table-data">590</td><td class="ct-table-data">596</td><td class="ct-table-data">613</td></tr>
              <tr id="ct-row-f" onmouseover="surface('ct-r-f', 'ct-r-all', 'geom-icon-f', 'ct-row-f')" onmouseout="hide('ct-r-f', 'ct-r-all', 'ct-row-f', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-f">F</span> Wheelbase</td><td class="ct-table-data">973</td><td class="ct-table-data">979</td><td class="ct-table-data">988</td><td class="ct-table-data">993</td><td class="ct-table-data">1012</td></tr>
              <tr id="ct-row-g" onmouseover="surface('ct-r-g', 'ct-r-all', 'geom-icon-g', 'ct-row-g')" onmouseout="hide('ct-r-g', 'ct-r-all', 'ct-row-g', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-g">G</span> BB drop</td><td class="ct-table-data">72</td><td class="ct-table-data">72</td><td class="ct-table-data">72</td><td class="ct-table-data">72</td><td class="ct-table-data">67</td></tr>
              <tr id="ct-row-h" onmouseover="surface('ct-r-h', 'ct-r-all', 'geom-icon-h', 'ct-row-h')" onmouseout="hide('ct-r-h', 'ct-r-all', 'ct-row-h', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-h">H</span> ST angle</td><td class="ct-table-data">73.7</td><td class="ct-table-data">73.4</td><td class="ct-table-data">73</td><td class="ct-table-data">73</td><td class="ct-table-data">72.4</td></tr>
              <tr id="ct-row-i" onmouseover="surface('ct-r-i', 'ct-r-all', 'geom-icon-i', 'ct-row-i')" onmouseout="hide('ct-r-i', 'ct-r-all', 'ct-row-i', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-i">I</span> HT angle</td><td class="ct-table-data">72</td><td class="ct-table-data">72.8</td><td class="ct-table-data">73.2</td><td class="ct-table-data">73.7</td><td class="ct-table-data">74</td></tr>
              <tr id="ct-row-j" onmouseover="surface('ct-r-j', 'ct-r-all', 'geom-icon-j', 'ct-row-j')" onmouseout="hide('ct-r-j', 'ct-r-all', 'ct-row-j', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-j">J</span> TT (effective)</td><td class="ct-table-data">534</td><td class="ct-table-data">550</td><td class="ct-table-data">565</td><td class="ct-table-data">576</td><td class="ct-table-data">602</td></tr>
              <tr id="ct-row-k" onmouseover="surface('ct-r-k', 'ct-r-all', 'geom-icon-k', 'ct-row-k')" onmouseout="hide('ct-r-k', 'ct-r-all', 'ct-row-k', 'even')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-k">K</span> ST (effective)</td><td class="ct-table-data">549</td><td class="ct-table-data">574</td><td class="ct-table-data">595</td><td class="ct-table-data">611</td><td class="ct-table-data">642</td></tr>
              <tr id="ct-row-l" onmouseover="surface('ct-r-l', 'ct-r-all', 'geom-icon-l', 'ct-row-l')" onmouseout="hide('ct-r-l', 'ct-r-all', 'ct-row-l', 'odd')"><td class="ct-table-data  ct-first-col"><span class="geom-table-icon" id="geom-icon-l">L</span> ST (physical)</td><td class="ct-table-data">520</td><td class="ct-table-data">540</td><td class="ct-table-data">560</td><td class="ct-table-data">575</td><td class="ct-table-data">590</td></tr>
              <tr><td class="ct-table-data ct-first-col"> Wheel size</td><td class="ct-table-data" colspan="5">700c</td></tr>
              <tr><td class="ct-table-data ct-first-col"> Fork length</td><td class="ct-table-data" colspan="5">367</td></tr>
              <tr><td class="ct-table-data ct-first-col"> Fork Offset</td><td class="ct-table-data" colspan="5">43</td></tr>
              <tr><td class="ct-table-data  ct-first-col"> Trail</td><td class="ct-table-data">67.4</td><td class="ct-table-data">62.3</td><td class="ct-table-data">59.7</td><td class="ct-table-data">56.5</td><td class="ct-table-data">54.6</td></tr>
            </table>
          </div>
          <div class="ct-img-float-container">
            <div class="ct-table-img big-screen">
              <span class="ct-geo-img-container-full" id="ct-r-all"><img class="ct-fullwidth-img" src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/750_Geometry_R1.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-g-grey"><img class="ct-fullwidth-img" src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/750_Geometry_R1Gray.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-a"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_A.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-b"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_B.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-c"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_C.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-d"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_D.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-e"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_E.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-f"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_F.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-g"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_G.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-h"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_H.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-i"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_I.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-j"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_J.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-k"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_K.png?18342578893410879698"></span>
              <span class="ct-geo-img-container" id="ct-r-l"><img src="https://cdn.shopify.com/s/files/1/0071/0318/5009/files/2000x2000_Geometry_R1_L.png?18342578893410879698"></span>
          	</div>
          </div>
        </div>
      </div>

      <!--FAQS SECTION HTML (commented out after call on 1/16/2019... waiting for actual FAQs to surface)
      <div id="faqs" class="ct-tab-content">
        <div class="ct-tab-section long-text">
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
          <p><b>This is a question</b></p>
          <p>This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. This is a great answer in detail so that customers know what is going on... all the time, every time. </p>
        </div>
       </div>
      -->

      <!--COMPONENTS SECTION HTML-->
      <div id="components" class="ct-tab-content">
        <div class="ct-tab-section">
          <div class="ct-table-container-fullwidth">
            <table class="ct-table">
              <tr>
                <th class="ct-table-header">Component</th>
                <th class="ct-table-header">Detail</th>
              </tr>
              <tr>
                <td class="ct-table-data">Front Derailleur</td>
                <td class="ct-table-data">No Compatability</td>
              </tr>
              <tr>
                <td class="ct-table-data">Seat Post</td>
                <td class="ct-table-data">31.6mm</td>
              </tr>
              <tr>
                <td class="ct-table-data">Seat Clamp</td>
                <td class="ct-table-data">36.4mm</td>
              </tr>
              <tr>
                <td class="ct-table-data">Eye to Eye length</td>
                <td class="ct-table-data">250mm</td>
              </tr>
              <tr>
                <td class="ct-table-data">Stroke</td>
                <td class="ct-table-data">75mm</td>
              </tr>
              <tr>
                <td class="ct-table-data">Fork Compatability</td>
                <td class="ct-table-data">203mm</td>
              </tr>
              <tr>
                <td class="ct-table-data">Max Tire Size</td>
                <td class="ct-table-data">2.5"</td>
              </tr>
              <tr>
                <td class="ct-table-data">Max Chainring Size</td>
                <td class="ct-table-data">36t</td>
              </tr>
              <tr>
                <td class="ct-table-data">Shock Mountain Bushing Front</td>
                <td class="ct-table-data">25x8</td>
              </tr>
              <tr>
                <td class="ct-table-data">Shock Mountain Brushing Rear</td>
                <td class="ct-table-data">30x8</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!--WARRANTY SECTION HTML-->
      <div id="warrantee" class="ct-tab-content">
        <div class="ct-tab-section long-text">
          <p><b>Lifetime Frame Warranty</b></p>
          <p>Viathon Bicycles will repair or replace at its option any frame it determines to be defective. The warranty will be in effect for lifetime of the original, registered owner. In order to confirm that you are the original owner, please register using our bike registration form at the time of purchase.</p>
          <p><b>How to find your serial number</b></p>
          <p>Frames purchased prior to May 1, 2015 will be covered under the previously existing 5 year warranty. Warranties do not cover custom finishes. </p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">Register your Viathon Bicycle</a></li>
            <li><a href="">Register your Juliana Bicycle</a></li>
          </ul>
          <br>
          <p><b>Lifetime Bearing Warranty</b></p>
          <p>Viathon Bicycles pivot bearings are warranted for life to the original owner of the bike.</p>
          <p>The return process is simple: complete the Bearing Replacement Form, upload a copy of your purchase receipt, and we'll get a new set of bearings out to you within 48 hours! </p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">Make a claim for replacement bearings</a></li>
          </ul><br>
          <p><b>Reserve Carbon Wheels</b></p>
          <p>Viathon Reserve carbon wheels carry a warranty for the lifetime of the original, registered owner. </p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">Register your Reserve Carbon Wheels</a></li>
          </ul><br>
          <p><b>No-Fault Replacement</b></p>
          <p>Viathon Bicycles will make replacement frame parts available to the original owner at a minimal charge in the event of a crash or other non-warranty situation for the life of the bike.</p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">Make a Warranty Claim or No-Fault Replacement Claim</a></li>
          </ul><br>
          <p>Something not right? Use one of the forms below to file a claim. We'll do everything we can to get you back to riding as fast as possible. </p>
          <ul style="padding: 10px 0px 0px 30px">
            <li><a href="">File a claim for a bike or a frame</a></li>
            <li><a href="">File a claim for Reserve Carbon Wheels</a></li>
          </ul><br>
          <p><b>Carbon Handlebars</b></p>
          <p>Viathon carbon handlebars are warrantied for a period of five years from the date of purchase. </p>
        </div>
       </div>
    </div>  
  </section>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}




